Package: ws.hbang.common
Name: HASHBANG Productions Common
Version: 1.1~beta1
Architecture: iphoneos-arm
Description: Code shared by HASHBANG packages
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: System
Tag: role::developer
