Package: ws.hbang.common
Name: Cephei
Depends: mobilesubstrate, preferenceloader, jp.ashikase.techsupport, com.rpetrich.rocketbootstrap
Version: 1.12
Architecture: iphoneos-arm
Description: Support library for tweaks
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Development
Icon: file:///Library/PreferenceBundles/Cephei.bundle/icon@2x.png
Depiction: https://cydia.hbang.ws/package/ws.hbang.common/
Support: https://hbang.ws/support/
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension, compatible::ios5, compatible::ios6, compatible::ios7, compatible::ios8, compatible::ios9, compatible::ios10
dev: hbang
