Package: ws.hbang.common
Name: Cephei Tweak Support
Depends: firmware (<< 8.0) | firmware (>= 11.0) | com.rpetrich.rocketbootstrap
Version: 1.17.1
Architecture: iphoneos-arm
Description: Support library for tweaks
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Development
Icon: https://cdn.chariz.cloud/icon/cephei/icon@3x.png
Depiction: https://chariz.com/get/cephei
Support: https://hashbang.productions/support/
Tag: role::developer, compatible_min::ios5.0
dev: hbang
