Package: ws.hbang.containersupport
Name: ContainerSupport
Depends: firmware (>= 8.0), mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Support package for app containers
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Tweaks
