<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ws.hbang.common.hbprefsd</string>
	<key>Program</key>
	<string>/usr/libexec/hbprefsd</string>
	<key>ExecuteAllowed</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>MachServices</key>
	<dict>
		<key>cy:ws.hbang.common.hbprefsdservice</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>UserName</key>
	<string>mobile</string>
</dict>
</plist>
