<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Typing</string>
			<key>footerText</key>
			<string>The delay can be set with the “Overlay Display Duration” slider below.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>TypingIcon</string>
			<key>label</key>
			<string>Status Bar Icon</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>TypingStatus</string>
			<key>label</key>
			<string>Status Bar Overlay</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>TypingTimeout</string>
			<key>label</key>
			<string>Hide Text After Delay</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>HideInMessages</string>
			<key>label</key>
			<string>Hide Inside Messages</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testTypingStatus</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Test Typing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>“Status Bar Overlay” briefly overlays the status bar with the name of the person who caused the notification.
“Hide Inside Messages” disables all indicators while Messages or biteSMS is open.</string>
			<key>label</key>
			<string>Read</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>ReadStatus</string>
			<key>label</key>
			<string>Status Bar Overlay</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>ReadHideInMessages</string>
			<key>label</key>
			<string>Hide Inside Messages</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testReadStatus</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Test Read</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Overlay Display Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlayDuration</string>
			<key>label</key>
			<string>Overlay Display Duration</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Overlay Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlaySlide</string>
			<key>label</key>
			<string>Slide</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlayFade</string>
			<key>label</key>
			<string>Fade</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSCreditsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeStatus</string>
</dict>
</plist>
